[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.localnet]
notmarket_solana = "AEMeQD66sZH5jEUnJ6WHGk6VfJdUDCXsNmYrp5T1bxFE"

[programs.devnet]
notmarket_solana = "AEMeQD66sZH5jEUnJ6WHGk6VfJdUDCXsNmYrp5T1bxFE"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "localnet"
wallet = "~/.config/solana/phantom.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
