[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.devnet]
notmarket_solana = "D2EDhFF3HcNuwdSWpPE7z1QxVSdMVPFHv4N4vW7mXTwT"

[programs.localnet]
USDC = "AXsvvaM4CB4ixKBWtcsobwGtQtD32XD6NEaKRvhY8QDz"
notmarket_solana = "D2EDhFF3HcNuwdSWpPE7z1QxVSdMVPFHv4N4vW7mXTwT"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "localnet"
wallet = "~/.config/solana/phantom.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/bonding-curve-trading.ts"
